


<h1>About KC On Tap</h1>

<p>
	<h4>KC on Tap Nightlife is your guide to all the happenings in the Kansas City area</h4>
	<h2 style="color:white"> Drink Specials - Concerts - Happy Hours </h2>
</p>

</div>


<address>
  <strong>KC Nightlife</strong><br>
  4400 W. 72nd Street<br>
  Prairie Village, KS 66208<br>
  <abbr title="Phone">Phone:</abbr> (316) 737-3439
</address>