<% if user_signed_in? %>
   <h1>You're Logged In!</h1>
        
        <% else %>


<div class="section-intro">
	<div class="video-container">
		<img alt="Get-started-v2" src="http://www.home-designing.com/wp-content/uploads/2012/03/white-black-brown-modern-bedroom-furniture.jpeg">	
</div>

	
	<h1>Welcome to RoomBump!</h1>
		<h3>
			Helping you lock down the ideal living arrangement
			
		</h3>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>

</div>
<% end %>

<!-- https://assets.nightout.com/assets/splash/get-started-v2-f93d8d2cd429d6b1baf392eb8cf02e3a.jpg -->