<div class="hero-unit">

	<h1>Welcome to KC On Tap!</h1>
		<p>
			Your guide to all Kansas City nightlife near you!
			
		</p>
		<p>
			<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
		</p>

</div>

