
/* You could change the font
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=oxygen);*/

$btnPrimaryBackground: green;

$navbarBackgroundHighlight: black;
$navbarBackground: black;



@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.carousel-caption h1 {

	margin: 0;
	line-height: 1.25;
	width: 400px;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}


.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $blue; 
	}
}